body{
    background-color: rgb(10, 25, 47);
}

.layout{
    color: #fafafa;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
}

.menu{
    background-color: rgb(10, 25, 47);
}

.navbar-brand, .nav-link{
    color: #fafafa;
}

.container {
    position: relative;
    color: #fafafa;
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
}

.intro {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    background-color: rgb(10, 25, 47);
    color: #fafafa;
    text-align: center;
}

#hey{
  border-radius: 40%;
}

.knowme{
  background-color: rgb(10, 25, 47);
  color:#fafafa;
}

#knowme{
    padding: 16px
}

.row{
    margin-left: 16px;
}

#para2{
    width: 700px;
}

#img1{
    height: 150px;
    width: 260px;
}

#img2{
    height: 150px;
    width: 260px;
    margin-left: 10px;
}

#img3{
    height: 150px;
    width: 95px;
    margin-left: 10px;
}

#img4{
    height: 150px;
    width: 165px;
}

#img5{
    height: 150px;
    width: 260px;
    margin-left: 10px;
}

#img6{
    height: 150px;
    width: 260px;
    margin-left: 10px;
}

.projects {
    background-color: rgb(10, 25, 47);
    color: #fafafa;
}

#projects {
    margin-top: 80px;
    margin-left: 16px
}

.carousel-inner{
    margin-top: 50px;
    width: 100%;
}

.item1, .item2, .item3, .item4{
    height: 500px;
    text-align: center;
}

.home, .management, .environment, .agriculture{
    height: 380px;
    width: auto;
}
